.add-wish-cart{
    display: flex;
    align-items: center;
    background-color: #e0f7fa;
    border-radius: 50%;
    color: #00796b;
    cursor: pointer;
    font-size: 15px;
    height: 36px;
    justify-content: center;
    position: relative;
    transition:all .3s;
    width: 36px;
}
.add-wish-cart:hover{
    background-color: #088178;
    color: #fff;
}
.add-wish-cart:hover div{
    display: block;
}
.add-wish-cart div::after{
    background-color: #00796b;
    content: "";
    height: 10px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
}
.add-wish-cart div{
    background-color: #00796b;
    border-radius: 3px;
    bottom: 47px;
    color: #ffffff;
    display: none;
    font-size: 10px;
    font-weight: 900;
    padding: 5px 2px;
    position: absolute;
    text-align: center;
    transition: 3s;
    width: 180%;
}

.info h3:first-of-type{
    color: #888888;
    font-size: 13px;
}
.info h4:first-of-type{
    color: #292929;
    font-size: 18px;
    font-weight: 900;
    margin: 8px 0;
}
.currency{
    font-weight: 900;
    color:#006559;
    font-size: 14px;
}


@media (max-width: 576px) {
    .resp {
      flex: 0 0 auto;
      width: 100%;
    }
    input{
        width: 90% !important;
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    .resp {
      flex: 0 0 auto;
      width: 50%;
    }
    input{
        width: 75% !important;
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    .resp {
      flex: 0 0 auto;
      width: 33.33333%;
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .resp {
      flex: 0 0 auto;
      width: 25%;
    }
  }
  @media (min-width: 1200px) {
    .resp {
      flex: 0 0 auto;
      width: 20%;
    }
  }
  