<div class="row g-3 my-5">
    @for (product of catDetails ; track product.id) {
        <div class="resp" >
            <div class="product h-100 p-2 d-flex flex-column justify-content-between cr" [routerLink]="['/details', product.id]">
                    <img
                    [src]="product.image"
                    class="w-100 object-fit-fill"
                    [alt]="product.title"
                    />
                <div class="px-1 info my-3 m-sm-0">
                        <h3 class="pt-1">{{ product.category}}</h3>
                    <h4>{{ product.title.split(" ", 3).join(" ") }}</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            @for (num of [1,2,3,4,5].slice(0, product.rating.rate); track $index) {
                                <span><i class="fas fa-star rating-color"></i></span>
                            }
                            @if (product.rating.rate % 1 !== 0) {
                                <i class="fa-solid fa-star-half-stroke rating-color"></i>
                            }
                            <span class="text-muted fw-bold ms-1">{{ product.rating.rate }}</span>
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="text-main fw-bold fs-5">{{product.price}} <span class="currency">EGP</span></span>
                        </div>
                        <div class="d-flex align-items-center" (click)="$event.stopPropagation()">
                            <div class="add-wish-cart me-2">
                                <i class="fas fa-heart-circle-plus"></i>
                                <div>Add To Wish List</div>                                    
                            </div>
                            <div class="add-wish-cart me-2">
                                <i class="fa-solid fa-cart-plus"></i>
                                <div>Add To Cart</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>